
/* START Navigation */
.bg-dark {
 background:#16202a !important;
}

ul.navbar-nav {
 margin-left:80%;
}

.navbar {
 font-family: 'Merienda', cursive;
}

.navbar-brand{
  color:white;
  font-size:1.25em;
}

.collapse{
  color:white;
  font-size: 1em;
}
/* END Navigation */

header.masthead{
  padding-top: 28rem;
  padding-bottom: 40px;
  background-image: url("hero.jpeg");
  background-position: center center;
  background-size: cover;
}

.title{
  font-family: 'Sedgwick Ave', cursive;
  font-size: 5rem;
  color:white;
  text-align: right;
  bottom:0px;
}

.byline{
  font-family: 'Sedgwick Ave', cursive;
  font-size: 2rem;
  color:white;
  text-align: right;
  padding-right: 20px;
  bottom:0px;
}

.photo-credit{
  font-family: 'Sedgwick Ave', cursive;
  font-size: 10px;
  color:white;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
  bottom:0px;
}



/* START Paragraph Text */
.firstcharacter {
  float: left;
  font-size: 60px;
  line-height: 1;
  font-weight: bolder;
  margin-right: 9px;
  font-family: 'Philosopher', sans-serif;
  text-decoration: underline;
}

p{
  font-size: 20px;
  line-height: 1.6;
  width:60%;
  margin: 0 auto;
  font-family: 'Arimo', sans-serif;
  padding-top: 10px;
}

.pullquote{
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid;
  font-size: 30px;
  line-height: 1.8;
  width:40%;
  margin: 0 auto;
  font-family: 'Sedgwick Ave', cursive;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background: #6fb98f;
}
/* END Paragraph Text */

/* START Headline Text */
.heading{
  font-family: 'Merienda', cursive;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  width:60%;
  margin:0 auto;
}

.timeline{
  margin: 0 auto;
  width:60%;
}


iframe{
  width: 100%;
  max-width: 900px;
}

#map{
  margin: 0 auto;
  width: 50%;
}

#earnings{
  width:50%;
  margin:0 auto;
}

#category{
  width:50%;
  margin:0 auto;
}

#womeninsports{
  width:50%;
  margin:0 auto;
}

#piechart{
  width:50%;
  margin:0 auto;
}

.chart-title{
  margin: 0 auto;
  width: 50%;
  text-align: left;
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  padding-bottom: 10px;
}

.chart-description{
  margin: 0 auto;
  width: 50%;
  text-align: left;
}



em{
  display: block;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  color: black;
  text-align: center;
}

figcaption {
  text-align: center;
  margin:0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  width:30%;
  color:#A9A9A9;
  line-height: 1.8;
}

h2{
  text-align: center;
  font-size: 25px;
  font-family: 'Arimo', sans-serif;
}

/* START Word Cloud */
#wordcloud{
  max-width: 60%;
  margin: 0 auto;
}

.pullquote1{
  border-left: 0.2em solid;
  background:  #6fb98f;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 22px;
  width: 72%;
  padding-left: .5em;
}

.attribution1{
  font-size: 15px;
  font-family: 'Arimo', sans-serif;
  font-style: italic;
  color:black;
}

.pullquote2{
  padding-right: .5em;
  border-right: 0.2em solid;
  border-color: black;
  font-family: 'Sedgwick Ave', cursive;
  background: #660066;
  color:white;
  font-size: 22px;
  width: 47%;
  text-align: right;
  float:right;
}

.attribution2{
  font-size: 15px;
  font-family: 'Arimo', sans-serif;
  font-style: italic;
  color:white;
  text-align: right;
  float:right;
  padding-top:5px;
}

.pullquote3{
  border-left: 0.2em solid;
  background:  #6fb98f;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 22px;
  width: 65%;
  padding-left: .5em;
}

.attribution3{
  font-size: 15px;
  width:60%;
  font-family: 'Arimo', sans-serif;
  font-style: italic;
  color:black;
}

.pullquote4{
  padding-right: .5em;
  border-right: 0.2em solid;
  border-color: black;
  font-family: 'Sedgwick Ave', cursive;
  background: #660066;
  color:white;
  font-size: 22px;
  width: 70%;
  text-align: right;
  float:right;
}

.attribution4{
  font-size: 15px;
  font-family: 'Arimo', sans-serif;
  font-style: italic;
  color:white;
  text-align: right;
  float:right;
  padding-top:5px;
}

.pullquote5{
  border-left: 0.2em solid;
  background:  #6fb98f;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 22px;
  width: 55%;
  padding-left: .5em;
}

.attribution5{
  font-size: 15px;
  width:50%;
  font-family: 'Arimo', sans-serif;
  font-style: italic;
  color:black;
}

.pullquote6{
  padding-right: .5em;
  border-right: 0.2em solid;
  border-color: black;
  font-family: 'Sedgwick Ave', cursive;
  background: #660066;
  color:white;
  font-size: 22px;
  width: 48%;
  text-align: right;
  float:right;
}

.attribution6{
  font-size: 15px;
  font-family: 'Arimo', sans-serif;
  font-style: italic;
  color:white;
  text-align: right;
  float:right;
  padding-top: 5px;
}

.pullquote7{
  border-left: 0.2em solid;
  background:  #6fb98f;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 22px;
  width: 72%;
  padding-left: .5em;
}

.attribution7{
  font-size: 15px;
  width:70%;
  font-family: 'Arimo', sans-serif;
  font-style: italic;
  color:black;
}

.pullquote8{
  padding-right: .5em;
  border-right: 0.2em solid;
  border-color: black;
  font-family: 'Sedgwick Ave', cursive;
  background: #660066;
  color:white;
  font-size: 22px;
  width: 42%;
  text-align: right;
  float:right;
}

.attribution8{
  font-size: 15px;
  font-family: 'Arimo', sans-serif;
  font-style: italic;
  color:white;
  text-align: right;
  float:right;
  padding-top:5px;
}
/* END Word Cloud */


/* START About Sources Box */
#box{
    background:#E8E8E8;
    width:50%;
    margin: 0 auto;
    line-height: 1.8;
    padding:10px 10px 10px 10px;
    margin-top:2rem;
}

.box-text{
 font-family: 'Arimo', sans-serif;
 font-size: 16px;
}
/* END About Sources Box */

.footer{
  font-family: 'Montserrat', sans-serif;
  height:100px;
  line-height: 1.8;
  padding-bottom:20px;
  padding: 25px;
  background:#16202a;
  color:white;
  text-align: center;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .pullquote{
    font-size:20px;
  }
}


@media screen and (min-width: 0px) and (max-width: 400px) {
  #wordcloud{
    display: none;
  }
}
