#container {
max-width: 1000px;
width: 100%;
margin: 0 auto;
padding: 10px;
}

.bg-dark {
  background-color: #0b1226 !important;
}

.hero-image {
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cutline {
  padding-bottom: 10px;
}

.chatter {
  margin: 0 auto;
  width: 500px;
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 40px;
}

p {
  font-family: 'Georgia', serif;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 5em;
  font-weight: 1000;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  padding-bottom: 40px;
  padding-left: 25px;
  border-top: 2px solid #AE1727;
  padding-top: 10px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

.junod {
  max-width: 450px;
  border-top: solid 2px #AE1727;
  border-bottom: solid 2px #AE1727;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mySlides {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.w3-button {
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #768BA6;
}

.slideshow {
  margin-bottom: 25px;
}



.red {
  color: #AE1727;
}

.light-blue {
  color: #768BA6;
}


a:link {
  color: #768BA6;
}

a:hover {
  color: #768BA6;
}

a:visited {
  color: #AE1727;
}


.byline {
  text-align: left;
  font-size: 1.25em;
  font-weight: 700;
}

blockquote {
  border-top: 2px solid #AE1727;
  padding: 10px;
  text-align: right;
  font-size: 1.25em;
  font-weight: 700;
}

.pquote {
  float: right;
  width: 400px;
}

.footer {
  background-color: #0b1226;
  text-align: right;
  color: white;
  padding: 10px;
  height: 200px;
}
