#container{
  max-width:1000px;
  width:100%;
}

/* START Navigation */
.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-left:50%;
}

.navbar {
 font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
  color:white;
  font-size:1.25em;
}
/* END Navigation */

/* START Star Logo and Hero Image */
.star-logo{
  width:15px;
  margin-right:5px;
}

#hero{
  text-align: center;
}

.hero-image{
  width:100%;
  max-width: 900px;
}

#stars{
  text-align: center;
}

.red {
 color: #e0162b;
}

.blue {
 color: #0052a5;
}

.star-break{
  width:15px;
  margin-right:5px;
  padding-top: 10px;
}

.star-heading{
  width:15px;
  text-align: left;
}
/* END Star Logo and Hero Image */

/* START Story Text */
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  weight:700;
  text-align: center;
  padding-top: 10px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  weight:700;
  text-align: center;
  padding-top: 10px;
  line-height: 1.6;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: left;
  margin:0 auto;
  width:55%;
  line-height: 1.8;
  padding-top: 20px;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: left;
  width:80%;
  margin:0 auto;
}

h5{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

h6{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  width: 80%;
  line-height: 1.8;
  margin:0 auto;
  padding-bottom: 5px;
}

p{
 font-family: 'PT Serif', serif;
 text-align:left;
 line-height:180%;
 width:80%;
 margin: 0 auto;
 font-size: 1em;
}

figcaption {
  text-align: left;
  margin:0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  width:30%;
  color:#A9A9A9;
  line-height: 1.8;
}

em{
  display: block;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
}
/* END Story Text */

/* START Alaina Petty Image */
#alaina{
  text-align: center;
}

.alaina-petty{
  width:30%;
}
/* END Alaina Petty Image */

/* START Emma Gonzalez Image */
#emma{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.emma{
  width:50%;
}

.emma-caption{
  text-align: left;
  margin:0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  width:50%;
  color:#A9A9A9;
  line-height: 1.8;
}
/* END Emma Gonzalez Image */

/* START Joaquin Oliver Image */
#joaquin{
  text-align: center;
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.joaquin-oliver{
  width:30%;
}
/* END Joaquin Oliver Image */

/* START Graphs*/
.graph-subhead{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  width: 50%;
  line-height: 1.8;
  margin:0 auto;
  padding-bottom: 5px;
}

#myLineChart{
  width:80%;
  margin:0 auto;
}

#killedbyyear{
  width:80%;
  margin:0 auto;
}

#shootingsByTypeChart{
  width:50%;
  margin:0 auto;
}

#shooter-race{
  width:50%;
  margin:0 auto;
}

#map{
  margin: 0 auto;
  width: 50%;
}
/* END Graphs*/

/* START Knight Lab Timeline and Google Fusion Map */
.timeline{
  margin: 0 auto;
  width:60%;
}

iframe{
  width: 100%;
  max-width: 900px;
}
/* END Knight Lab Timeline and Google Fusion Map */

/* START About Sources Box */
#box{
    background:#E8E8E8;
    width:60%;
    margin: 0 auto;
    line-height: 1.8;
    padding:10px 10px 10px 10px;
    margin-top:2rem;
}

.box-text{
 font-family: 'Montserrat', sans-serif;
 font-size: 16px;
}
/* END About Sources Box */

/* START Footer*/
.footer{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
  font-size:1.25em;
  margin-top: 20px;
  padding-top:1rem;
  padding-bottom: 1rem;
  background:#000;
  color:white;
  text-align: center;
  font-size: 12px;
}
/* END Footer*/
