body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 12px;
  color: #444;
}


#containter {
  width:100%;
  max-width: 1200px;
  margin:0 auto;
  padding-bottom: 50px;
}

#name {
  font-size:3em;
  text-transform: uppercase;
  text-align:center;
  color:#33485e;
  border-bottom: 1px solid #33485e;
  width:60%;
  min-width:300px;
  margin:0 auto;
}

.sectionheader {
  font-size:1.5em;
  text-transform: uppercase;
  background:#33485e;
  color:white;
  font-weight:400;
  margin-bottom:10px;
  margin-top: 20px;
  width: 70%;
  min-width: 300px;
  padding-left: 20px;
}

#title {
  font-size:1.5em;
  text-transform: uppercase;
  color:#33485e;
  font-weight:600;
  margin-top: 20px;
  text-align: center;
}

.jobtitle {
  font-weight: 600;
  font-size:1.5em;
}

.organization {
  font-weight: 400;
  font-size:1.25em;
}

.date {
  font-weight: 400;
  font-style:italic;
  font-size:1em;
  margin-top: 2px;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
  min-width: 300px;
  padding-left: 20px;
}

.menu{
  margin:0px;
  padding:0px;
  text-align: center;
}

.menu li{
    display: inline;
}

#degrees {
  margin-top: 5px;
}

#do {
  margin-top: 5px;
}

.top {
  width:60%;
  min-width: 300px;
  margin:0 auto;
  margin-bottom: 30px;
}

li {
  font-size:1em;
}
